/* Custom Changes */

.form-control {
    width: 40%;
}

.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    height: 41px;
    font-size: 13px;
}

.form-group {
    margin-bottom: 15px;
    width: 590px;
}

.panel-body {
    /* padding: 15px; */
    height: 120px;
    padding-left: 20px;
}

.panel-body2 {
    /* padding: 15px; */
    height: 100px;
    padding-left: 70px;
    padding-top: 12px;
}
.panel-body3 {
    /* padding: 15px; */
    height: 100px;
    padding-left: 70px;
    padding-top: 12px;
    width: 363px;
}

/* text on hover css code  */

/* https://stackoverflow.com/questions/65796587/display-text-on-hover */
