{{define "title"}}About{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<p>This project demonstrates how blockchain technology can be used to make Voting Process more Transparent , Faster and Secure .</p> 
	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}
