{{define "title"}}BlockVote{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div id= "voterinfo" class="continerinfo">
	<div class="page-header">
		<h1>Hello, {{.first_name}}</h1>
		<br>
	</div>
</div>

<div id= "voterissnfo" class="continerinfo-right">
	
	<div class="panel panel-default">
  		<div class="panel-body">
    		<h2 id ="tblocks" style="display:inline;">&nbsp&nbsp00</h2>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<h2 id ="ttxn" style="display:inline;">00</h2>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<h2 id ="tbtx" style="display:inline;">00</h2>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<h2 id ="tvtx" style="display:inline;">00</h2>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a id="lbhlink" href="#"><h5 id ="lbh" style="display:inline;">00000c5f427c480a43f4d3e4e5b046b21cc71ca1c509f0731b62a27dfbcdc652</h5></a>
			<br>
			<h5 style="display:inline;">Block Height</h5>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<h5 style="display:inline;">Total TXN's</h5>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<h5 style="display:inline;">Total Elections</h5>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<h5 style="display:inline;">Vote Count</h5>&nbsp&nbsp&nbsp&nbsp<a id="lvhlink" href="#"><h5 id ="lvh" style="display:inline;">00000c5f427c480a43f4d3e4e5b046b21cc71ca1c509f0731b62a27dfbcdc652</h5></a>
  		</div>
	</div>
	<!--
	<div class="page-header">
		<h1>DATA idhar</h1>
		<br>
			<div class="user-data">
				<h5>JAJJAJA</h5>
				<h5>kakskkas </h5>
			</div>
	</div>
	-->
</div>



<div class="continerwalll">
	<div id="wall" class="continerwall-left">
	<form id="walletform" action="{{.BaseURI}}generate" method="post">
		<div class="form-group">
			<div class="input-group input-group-lg"> <span class="input-group-addon">
			<span class="glyphicon glyphicon-envelope"></span> </span>
				<input type="addr" class="form-control" id="addr" name="addr" maxlength="66" placeholder="Paste your Address here..." value="{{.wallet.Real.Address}}"> </div>
			<br>
			<div class="input-group input-group-lg"> <span class="input-group-addon">
			<span class="glyphicon glyphicon-lock"></span> </span>
				<input type="pvtkey" class="form-control" id="pvtkey" name="pvtkey" maxlength="80" placeholder="Paste your Private key here..." value="{{.wallet.Real.Pvtkey}}" /> <span class="input-group-btn">
			<button class="btn btn-default" type="button" onclick="CopyClip()"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
				</span>
			</div>
		</div>
		<input type="hidden" id="WhichButton" name="change123" value="DEFAULT">
		<input type="hidden" name="token" value="{{.token}}"> </form>
	</div>


	<div id="wallss" class="continerwall-right">
		<div class="card">
			<div class="card-header">
				<ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
					<li class="nav-item"><a class="nav-link active" id="voter-tab" data-toggle="tab" href="#voter" role="tab" aria-controls="voter" aria-selected="true">Voter</a></li>
					<li class="nav-item"><a class="nav-link" id="candidate-tab" data-toggle="tab" href="#candidate" role="tab" aria-controls="candidate" aria-selected="false">Candidate</a></li>
					<li class="nav-item"><a class="nav-link" id="ballot-tab" data-toggle="tab" href="#ballot" role="tab" aria-controls="ballot" aria-selected="false">Ballot</a></li>
					<li class="nav-item"><a href="#"> Total TXN's <span id="badgeaddr" class="badge">0</span></a></li>
				</ul>
			</div>
			<div class="card-body" id="card">
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane active" id="voter" role="tabpanel" aria-labelledby="voter-tab">
						<div class="panel panel-default">
							<div class="list-groupvoter">
							</div>
						</div>
					</div>
					<div class="tab-pane" id="candidate" role="tabpanel" aria-labelledby="candidate-tab">
						<div class="panel panel-default">
							<div class="list-groupcandy">
							</div>
						</div>
					</div>
					<div class="tab-pane" id="ballot" role="tabpanel" aria-labelledby="ballot-tab">
						<div class="panel panel-default">
							<div class="list-groupball">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- baaki button ke class idhar se dekh lena https://getbootstrap.com/docs/4.0/components/buttons/ -->

<div id= "act" class="continer">

		<a title="New Wallet" id="NewWalletbtn" class="btn btn-primary" role="submit" onclick="NewWallet()">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Wallet
		</a>
		<a title="Find Address" id="FindAddressbtn" class="btn btn-success" role="submit" onclick="FindAddress()">
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Find Address
		</a>
</div>



<script>
	document.addEventListener('DOMContentLoaded',function () {
		startlive();
		Getaddrinfoo();
		window.history.pushState('', '', '/');
	});
	
	function startlive() {
		setInterval(function () {
			fetch('api/live').then(function (response) {
				return response.json();
			}).then(function (data) {
				document.getElementById('tblocks').innerHTML = data.total_blocks;
				document.getElementById('ttxn').innerHTML = data.total_txn;
				document.getElementById('tbtx').innerHTML = data.total_btx;
				document.getElementById('tvtx').innerHTML = data.total_vtx;
				document.getElementById('lbh').innerHTML = data.latest_blocHash;
				document.getElementById('lvh').innerHTML = data.latest_txnHash;
				document.getElementById("lbhlink").href= "/api/vote/".concat(data.latest_blocHash);
				document.getElementById("lvhlink").href= "/api/vote/".concat(data.latest_blocHash);

			}).catch(function (error) {
				console.log(error);
			});

		}, 2000);
	}
</script>

<div id="container">
	<div id= "column-left">
		<div class="input-group input-group-lg">
  			<span class="input-group-addon">
    			<span class="glyphicon glyphicon-list"></span>
  			</span>
			<select id ="selectballot" onchange="showelectioninfo();" class="ballform-select" aria-label="Default select example">
				<option value="" disabled="disabled" selected>Open this select menu</option>
				{{range .ballots}}
  				<option value="{{.BTXhash}}">{{.ElectionName}}</option>
				{{end}}
			</select>
		</div>
	</div>

	<div id="column-middle">
		<p id=ff></p>
	</div>

	<div id="column-right">
		<p id=ballconhash></p>
		<p id=ballname></p>
		<p id=ballstart-end></p>
		<p id=balltotalcandidates></p>
		<div class="input-group input-group-lg">
  			<span class="input-group-addon">
    			<span class="glyphicon glyphicon-user"></span>
  			</span>
		<select id ="ballcandidates" class="ballform-select" aria-label="Default select example">
			<option value="" disabled="disabled" selected>Show Candidates...</option>
		</select>
		<input type="hidden" id="hidstart" name="toksen" value="">
		<input type="hidden" id="hidend" name="tokssen" value="">
		</div>
	</div>
</div>

<div id= "act" class="continer">
	<a title="Lock" id="LockUnlock" class="btn btn-warning" role="submit" onclick="LockUnlock()">
		<span id="spanoflock" class="glyphicon glyphicon-flag" aria-hidden="true"></span>Verify & Lock
	</a>
	<a title="Lock" id="final vote" class="btn btn-danger" role="submit" onclick="VoteNow()">
		<span id="spanoflock" class="glyphicon glyphicon-flag" aria-hidden="true"></span>Vote!!
	</a>
</div>

<div id= "walssl" class="contissnerwall">
  <form id="myForm" action="{{.BaseURI}}vote/newvtx" method="post">
	<input type="hidden" id="poppvtkey" name="poppvtkey" value = "{{.wallet.Real.Pvtkey}}">
	<input type="hidden" id="popvoteorball" name="popvoteorball" value = "VOTE">
	<input type="hidden" id="popcontract" name="popcontract" value = "dd">
	<input type="hidden" id="popcandy" name="popcandy" value = "dsd">
	<input type="hidden" id="popddcandy" name="token" value="{{.token}}">
  </form>
</div>


<!-- https://developer.mozilla.org/en-US/docs/Web/API/HTMLOptionElement/Option#syntax -->
<!-- https://stackoverflow.com/questions/6840326/how-can-i-create-and-style-a-div-using-javascript/6840399 -->
<!-- https://electrictoolbox.com/javascript-add-options-html-select -->



<script>

window.onbeforeunload = function(event)
{
	window.history.replaceState({}, '','/');
};
function showelectioninfo(){

var d = document.getElementById("selectballot");
var candies = document.getElementById("ballcandidates");
let conhash = d.options[d.selectedIndex].value;
const jsonstri = {{.ballotjson}};
const ballots = JSON.parse(jsonstri);

for (var i = 0; i < ballots.length; i++){
	var ballot = ballots[i];
	if (ballot.btxhash.trim() === conhash.trim() ) {
		document.getElementById("ballconhash").innerHTML = "<strong>Contract Hash  :</strong>  ".concat(ballot.btxhash);
		document.getElementById("ballname").innerHTML = "<strong>Election Name  :</strong>  ".concat(ballot.name);
		document.getElementById("ballstart-end").innerHTML = "<strong>Start - End  :</strong>  ".concat(timeConverter(ballot.start).concat("<strong>--</strong>  ",timeConverter(ballot.end)));
		document.getElementById("balltotalcandidates").innerHTML = "<strong>Candidate Count  :</strong>  ".concat(ballot.totalcandidates);
		document.getElementById("ballcandidates").innerHTML = ballot.candidates;
		document.getElementById("hidstart").value = ballot.start;
		document.getElementById("hidend").value = ballot.end;
		candies.options[candies.options.length] = new Option("Show Candidates...", "",false,true);
		for (var i = 0; i < ballot.candidates.length; i++) {
			candies.options[candies.options.length] = new Option(ballot.candidates[i], ballot.candidates[i],false,false);
		}
		return;
	}
}

}
</script>


{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}