{{define "footer"}}
<footer>
  <hr>
  <p class="text-center">Something Here FOOTER <a href="https://google.com" target="_blank">LINK</a></p>
  <p class="text-center">© Copyright Election Commission of India 2021</p>
</footer>
{{end}}